@font-face {
    font-family: 'SFMono Medium';
    src: url(/static/fonts/SFMono/SFMono-Medium.woff2);
}

@font-face {
    font-family: 'SFMono Regular';
    src: url(/static/fonts/SFMono/SFMono-Regular.woff2);
}

@font-face {
    font-family: 'Calibre Light';
    src: url(/static/fonts/Calibre/Calibre-Light.woff2);
}

@font-face {
    font-family: 'Calibre Semibold';
    src: url(/static/fonts/Calibre/Calibre-Semibold.woff2);
}

@font-face {
    font-family: 'Calibre Semibold Italic';
    src: url(/static/fonts/Calibre/Calibre-SemiboldItalic.woff2);
}

@font-face {
    font-family: 'Calibre Medium';
    src: url(/static/fonts/Calibre/Calibre-Medium.woff2);
}

body {
    background-color: #0a192f; 
}

.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    margin: 30px 50px;
}

.dropdown-item {
    list-style-type: none;
    padding-left: 50px;
    font-family: "SFMono Medium";
}

.main-information {
    margin: 200px 200px 200px 200px;
}

.main-above {
    color: #64ffda;
    margin: 0px 0px 30px 4px;
    font-family: "SFMono Regular";
    font-weight: 10;
    font-size: 16px;
}

.main-on {
    color: #ccd6f6;
    margin: 0px 0px 10px;
    font-weight: 600;
    font-family: 'Calibre Semibold';
    font-size: 80px;
}

.main-down {
    color: #8892b0;
    margin: 10px 0px 10px;
    font-weight: 600;
    font-family: 'Calibre Semibold';
    font-size: 80px;
}

.description {
    font-family: 'Calibre Light';
    color:#8892b0;
    width: 600px;
    font-size: 20px;
}

.container-about {
    margin-top: 400px;
    font-family: 'Calibre Medium';

}

.main-flex-container-about { /*DONE*/
    display: flex;
    flex-direction: row;
}

.container-text-about { /*DONE*/
    font-family: "Calibre Light";
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.about-description1 { /*DONE*/
    margin: 0px;
}

.text-about {
    font-family: "SFMono Medium";
}

.person-image { /*DONE*/
    padding-left: 100px;
}

p { /*DONE*/
    color: #8892b0;
}

.skills-container { 
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.el-skills { /*DONE*/
    flex: 1 1 30%;
    font-size: 14px;
    color: #8892b0;
    font-family: "SFMono Medium";
    margin: 10px;
    box-sizing: border-box;
    text-align: left;
}

.skills-container li::before { /*DONE*/
    content: "- "; /* Кастомный маркер */
    position: static;
    left: 0;
    color: #64ffda; /* Цвет маркера */
    font-size: 1.0em; /* Размер маркера */
}

/* -------------------------------- */

.main-container {
    padding: 50px;
}

h2 {
    color: #64ffda;
    margin-bottom: 20px;
}

.work-container {
    display: flex;
}

.company-list {
    flex: 1;
    margin-right: 20px;
}

.company {
    margin-bottom: 10px;
}

.company a {
    color: #8892b0;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-left: 2px solid transparent;
    transition: border-color 0.3s, color 0.3s;
}

.company a:hover,
.company a:focus,
.company a.active {
    color: #64ffda;
    border-color: #64ffda;
}

.company-details {
    flex: 3;
    padding: 10px 20px;
    background-color: #112240;
    border-radius: 8px;
}

.company-details .details {
    margin-bottom: 20px;
}

.company-details h3 {
    color: #64ffda;
    font-size: 24px;
    margin-bottom: 10px;
}

.company-details p {
    color: #8892b0;
    margin-bottom: 10px;
}

.company-details a {
    color: #64ffda;
    text-decoration: none;
}

.company-details ul {
    list-style: none;
    padding: 0;
}

.company-details ul li {
    display: flex;
    align-items: center;
    color: #8892b0;
}

.company-details ul li::before {
    content: '▸';
    color: #64ffda;
    margin-right: 8px;
}









