<head>

</head>
<body>
    <section class="container-about">
        <h2 class="text-about" href="#" span style="color: #64ffda; font-family: 'SFMono Medium'; font-weight: normal;">01. <span style="color: #ccd6f6; font-family: 'Calibre Semibold'; font-size: 34px;">About me</h2>
            <div class="main-flex-container-about">
                <div class="container-text-about">
                    <p class="about-description">Hello! My name is Brittany and I enjoy creating things that live on the internet. My interest in web development started back in 2012 when I decided to try editing custom Tumblr themes — turns out hacking together a custom reblog button taught me a lot about HTML & CSS!</p>
                        <p class="about-description">Fast-forward to today, and I’ve had the privilege of working at an advertising agency, a start-up, a huge corporation, and a student-led design studio. My main focus these days is building accessible, inclusive products and digital experiences at Upstatement for a variety of clients.</p>
                            <p class="about-description">I also recently launched a course that covers everything you need to build a web app with the Spotify API using Node & React.</p>
                                <p class="about-description1">Here are a few technologies I’ve been working with recently:</p>

                </div>
                        <img class="person-image" src="{{ url_for('static', path='image/cat.png') }}" alt="" width="300" height="300" class="mx-4">  
            </div>    
    </section>    
</body>