<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>

<body>
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    </head>

        <nav class="navigation-bar">
            <ul class="menu">
                <li class="dropdown-item" href="#" span style="color: #64ffda">01. <span style="color: #ccd6f6">About</li>
                <li class="dropdown-item" href="#" span style="color: #64ffda">02. <span style="color: #ccd6f6">Experience</li>
                <li class="dropdown-item" href="#" span style="color: #64ffda">03. <span style="color: #ccd6f6">Work</li>
                <li class="dropdown-item" href="#" span style="color: #64ffda">04. <span style="color: #ccd6f6">Contact</li>
                <li class="dropdown-item" href="#"<span style="color: #64ffda">>Resume</li>
            </ul>
        </nav>

