<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="stylesheet" href="/static/style.css">
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
        <meta charset="UTF-8">
                <title>Привет, мир!</title>
                    {% block title %}
                    {% endblock %}


    </head>

<body>

    {% include "navbar.html" %}
        {% block content %}
    {% endblock %}

    <main class="main-information">
        <section class="main-container">
            <h2 class="main-above">Hi, my name is</h2>
                <h1 class="main-on">Evgeny Mefed</h1>
                    <h3 class="main-down">I build things for the web.</h3>
                        <p class="description">I’m a software engineer specializing in building (and occasionally designing) exceptional digital experiences. Currently, I’m focused on building accessible, human-centered products at Upstatement.</p>
        </section>

<!-- БЛОК 1 ABOUT ME -->
    {% include "about.html" %}
        {% block content1 %}
    {% endblock %}

<!-- БЛОК 1.1 ПЕРЕЧИСЛЕНИЕ СКИЛЛОВ -->    

    {% include "skills.html" %}
        {% block content2 %}
    {% endblock %}

<!-- БЛОК 2 WHERE I'VE WORKED -->

        {% include "company.html" %}
        {% block content3 %}
        {% endblock %}

        <section class="main-container">
            <h2 class="main-above">Where I've Worked</h2>
            <div class="work-container">
                <div class="company-list">
                    {% for data in company_data %}
                        <div class="company">
                            <h3>{{ data.company.name }}</h3>
                        </div>
                    {% endfor %}
                </div>
                <div class="company-details">
                    {% for data in company_data %}
                        <div class="details">
                            <h3>{{ data.company.position }}</h3>
                            <p>{{ data.company.period }}</p>
                            <a href="{{ data.company.link_job }}">{{ data.company.name }}</a>
                            <ul>
                                {% for function in data.functions %}
                                    <li>{{ function.description }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>


</main>
</body>
</html>

