<head>
    <script>
        function redirectToResume() {
            window.location.href = '/resume'; // Вызов GET запроса на /resume
        }
    </script>
</head>
<body>
    <nav class="navigation-bar">
        <ul class="menu">
            <li class="dropdown-item">01. <span style="color: #ccd6f6"><a href="#about">About</a></li>
            <li class="dropdown-item" >02. <span style="color: #ccd6f6"><a href="#work">Experience</a></li>
            <li class="dropdown-item">03. <span style="color: #ccd6f6"><a href="#projects">Work</a></li>
            <li class="dropdown-item" >04. <span style="color: #ccd6f6"><a href="#get-in-touch">Contact</a></li>
            <li class="dropdown-item"><a href="/resume" target="_blank">Resume</a></li>
        </ul>
    </nav>
</body>