<head>
    <link rel="stylesheet" href="/static/style.css">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
    <nav class="navigation-bar">
        <ul class="menu">
            <li class="dropdown-item" href="#">01. About</li>
            <li class="dropdown-item" href="#">02. Expericnce</li>
            <li class="dropdown-item" href="#">03. Work</li>
            <li class="dropdown-item" href="#">04. Contact</li>
            <li class="dropdown-item menu-button" href="#">Resume</li>
        </ul>
    </nav>
</body>