<h2 class="text-about" href="#" span style="color: #64ffda">03. <span style="color: #ccd6f6">Some Things I've Built</h2>

    <section id="projects">
        <div class="project">
            <div class="project-image">
                <img src="/static/image/site.png" alt="My Project">
            </div>
            <div class="project-details">
                <p class="featured">Featured Project</p>
                <h3><a href="https://advokatmefed.ru/">@My Project</a></h3>
                <p class="description">
                    A minimal, dark blue theme for VS Code, Sublime Text, Atom, iTerm, and more. Available on Visual Studio Marketplace, Package Control, Atom Package Manager, and npm.
                </p>
                <div class="tech-stack">
                    <p>Tilda SEO HTML CSS</p>
                </div>
                <div class="project-links">
    
                </div>
            </div>
        </div>
    </section>